body{ 
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    font-size: 1rem;
    color:#707070;
    font-weight:300;
}

header{
    padding: 4em 0; 
    background-color: #f8f8f8;
    margin-bottom: 2em;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

footer{
    background-color: #143774;
    color:#c5c4c4;
    text-align: center;
    padding: 3em 0;
    font-size: 0.75rem; 
    width:100%
}
footer p{
    margin: 0;
    padding:0;
}

/* typography */

h1, h2, h3{
    font-family: 'Lora', serif;
    margin: 0;
    font-weight: 400;
}
h1{
    font-size: 2rem;
    color: #143774;
}
h2{ 
    
    font-size: 1.75rem;
    color: #143774; 
}
h3{
    font-size: 1.5rem;
    color:#1792d2;
}
p{
    line-height: 1.5em;
    padding-top:.5em;
    
}
.site-title{
    text-align: center;  
}

.slogan,
.widget-title, 
.read-more{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.175em;
    text-transform: uppercase;
}
.slogan, 
.read-more{
    color: #1792d2;  
}
.slogan,
.post-info{
    font-size: .75rem;
}
.read-more{
    font-size:.875rem;  
}

.widget-title,
.widget-recent-post-title {
    color:#143774;
    font-size: 1rem;
}
.widget-recent-post-title{
    margin-bottom: 1.5em;
}
.bold-text{
    font-weight: 900;
}

/* layout */

.container {
    width:90%;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container-nav{
    justify-content: space-between;
    align-items: center;   
}

.flex-container{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav layout  */

nav{
    font-weight: bold;
    font-size: 1rem;
    color: #707070;
    /* border: 1px solid orange;
     */
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
    margin:0;
    padding:0;
    letter-spacing: 0.175em;
    gap: 2em;
}
nav a{
    color: #707070;
    text-decoration: none;
    padding: .25em 0;
}
nav a:hover,
nav a:focus {
    color: #1792d2;
    cursor: pointer;
}
.current-page{
    border-bottom: #707070 solid 2.5px;
}
.current-page:hover,
.current-page:focus{
    color: #707070;
}

/* main layout */

.post-img{
    width:100%;
    height: 320px;
    object-position: bottom;
    object-fit:cover;
    margin-bottom:2em;
}
.post-featured{
    border-bottom: 1px solid #c5c4c4;
    padding-bottom:3em;
    margin-bottom: 3em;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-info{
    margin-top:0;
}
.read-more{
    margin-bottom: 2em;
}
.read-more:hover,
.read-more:focus {
    color: #143774;
    border-bottom: 1px solid #143774;
    padding-bottom: .5em;
    cursor: pointer;
}

/* sidebar layout */

.sidebar-widget{
    border: 1.725em solid #EBEBEB;
    padding: 1em;
    margin-bottom: 2em;
}
.widget-img{
    order:-1;
    width:100%;
    object-position: center;
    object-fit:cover;
}
.widget-recent-post{
    border-bottom: 1px solid #c5c4c4;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}
.widget-recent-post:last-child{
    border: none;
    margin: 0;
}
.widget-body{
    color:#143774;
    padding: -1em 0;
}

/* media queries */

@media(min-width:675px){
    .flex-container,
    .container-nav, 
    nav ul{
        flex-direction: row;
    }
    main{
        width: 65%;
    }
    aside{
        width:30%;
        min-width: 200px;
        margin-left:1em;
    }
    .post{
        flex-direction: row;   
        margin-bottom:3em; 
    }
    .left-post-column{
        width: 25%;
    }
    .right-post-column{
        width: 70%;
    }
    .post .post-img{
        height: 200px;
        margin-bottom:0;
    }
    
}



